@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fullcalendar/timegrid/main.css';
$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import '~react-widgets/dist/css/react-widgets.css';


.fc-today {
  background: #fdfdea;
}

// html, body, #root, div {
//   height: 100%;
// }

// #background {
//   background-image: url('./static/tori_lake_background.jpg');
// }

// #data {
//   background-color: white;
// }